@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <p class="lead">Dependency Injection template using Autofac! Just include your DLL names in the Global.Asax</p>
    <p>
        <h2>
            Message from the home controller after resolving the Customer dependency:
        </h2>

        <h2 >Hello: @ViewBag.Message</h2>

    </p>
</div>

